@import 'colors';

.todo-list__container {
    width: 100%;
    min-width: 350px;
    margin: auto;
    border-radius: 8px;
    border: 1px solid $primary;
    position: relative;
    padding: 5px 8px;
}

.todo-list__title {
    position: absolute;
    top: -20px;
    left: 20px;
    background-color: white;
    padding: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    color: $primary;
}

.todo-list__controls {
    position: absolute;
    top: -25px;
    right: 20px;
    background-color: white;
    padding: 3px;
    border-radius: 8px;
    color: $primary;
    display: flex;

    & > div {
        margin: 0 5px;
    }
}

.todo-list {
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    border-radius: 8px;
    overflow: hidden;
}