@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&display=swap&subset=cyrillic');

* {
    font-family: 'Comfortaa', cursive;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;   
}
  